.experiencie__box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.experience__box{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
}